@model IEnumerable<PASAROperations.Models.ActivityCode>
<div id="activity_add_div">
<div id ="wrapper_addact_div">
    <br /> 
    <div id="addact_cyc_detail_wrap">
    <div id="addact_cyc_detail">You are about to Add an Activity for :
        <br />
        <br />
        Cycle : <b>@ViewBag.CycleNum</b> 
        <br />
        Stage : <b>@ViewBag.StageName</b></div>
    <div id="addact_airflow_btn_div"><u>Air Flow (+/- 15 mins)</u>
        <br /><br /><input type="button" id="stime_btn"  value="S Time" />&nbsp;&nbsp;<input type="button" id="etime_btn"  value="E Time" />
       <br />
         <br /><input type="checkbox" class="airflow_checkbox" disabled ="disabled" /><span class="aflow_msg">&nbsp;&nbsp;I have reviewed the Airflow.</span> 
    </div>
         </div>
     
    <div id="addact_leftdiv">
       
        Activity : <input   type="text"  class="act_add_code_input" maxlength="3"/>
        <br /> <br />
        <div id="Act_Desc_div"></div>
         <br />

        <table id="start_time_table">
            <tr><td rowspan="2" class="label_datetype">Start Time : &nbsp;</td><td class="label_date">Date</td><td class="label_date">Time</td></tr>
            <tr><td id="start_date_addact">@ViewBag.LastActEndDateTime.ToString("MM/dd/yyyy")</td><td id="start_time_addact">@ViewBag.LastActEndDateTime.ToString("HH:mm")</td></tr>

       </table>
       <div id="start_time_value" class="hidden_div">@ViewBag.LastActEndDateTime</div>
       <div class="actcode_id hidden_div"></div>
       <div id="stageid_addact" class="hidden_div">@ViewBag.AddStageId</div>

           <table id="end_time_table">
            <tr><td rowspan="2" class="label_datetype">End Time : &nbsp;</td>
                <td class="label_date">Date</td><td class="label_date">Time (hh:mm)</td>
                
            </tr>
              
            <tr>
                <td id="end_date_addact"><input id="end_date_input" type="text"  value="@ViewBag.LastActEndDateTime.ToString("MM/dd/yyyy")"/></td>
                <td id="end_time_addact">
            <select id="end_time_hr_input">
            @{
                 int hr;
                int min_ = Int32.Parse(ViewBag.LastActEndDateTime.ToString("mm")) + 1;
                if (min_ == 60){

                    hr = Int32.Parse(ViewBag.LastActEndDateTime.ToString("HH")) + 1;
                    
                }else{
                    hr = Int32.Parse(ViewBag.LastActEndDateTime.ToString("HH"));
                }
                
                
                for (int x = 0; x <= 23; x++ )
                { 
                if (@x <= 9){

                    if (@x == @hr)
                    {  <option value="@x" selected="selected">@("0" + @x)</option> }
                    else { <option value="@x">@("0" + @x)</option> }          
                }
                      
                      
                      else{

                     if (@x == @hr)
                          {  <option value="@x" selected="selected">@x</option> }
                    else { <option value="@x">@x</option> }          
                

                      }
                }
                }
                                                          
            </select>&nbsp;:
            <select id="end_time_min_input">
              @{
                  int min = Int32.Parse(ViewBag.LastActEndDateTime.ToString("mm")) + 1;
                
                
                for (int x = 0; x <= 59; x++ )
                { 
                if (@x <= 9){

                    if (@x == @min)
                    {  <option value="@x" selected="selected">@("0" + @x)</option> }
                    else { <option value="@x">@("0" + @x)</option> }          
                }
                      
                      
                      else{

                          if (@x == @min)
                          {  <option value="@x" selected="selected">@x</option> }
                    else { <option value="@x">@x</option> }          
                

                      }
                }
                }                                               
            </select>

</td></tr>
                <tr><td colspan="4" id="left_td_ongoing"><input type="checkbox" id="ongoing_checkbox" class="checkbox_ongoing" /> On-Going?</td></tr>

       </table>
        <p id="error_msg_time">&nbsp;</p>
         
        Duration (min/s): &nbsp;<span class="duration_span">1</span>

        <br />  <br />    <br />
        <u>Charging</u>
        <br />
        <br />
       
        <table id="addact_charge_table">
            <tr>
                <td class="label_charge">FSF: </td>
                <td><input class="fsfe_charge_input" type="text" /></td>
                <td></td>
                <td></td>
            </tr>
             <tr>
                <td class="label_charge">CF: </td>
                <td><input class="cf_charge_input" type="text" /></td>
                <td>&nbsp;&nbsp;S, ppm: &nbsp;&nbsp;</td>
                 <td><input type="text" class="sulfur_input"/></td>
             </tr>
             <tr>
                <td class="label_charge">AF: </td>
                <td><input class="af_charge_input" type="text" /></td>
            <td></td>
                <td></td>
             </tr>


        </table>

        <div>Comments:</div>
        
        <textarea id="comments_textarea_input" rows="3">-</textarea>

    </div>
    <div id="addact_rightdiv">
       <table id="act_code_table">
               <tr id="act_code_table_header">
                   <th><i>Code</i></th>
                   <th><i>Description</i></th>
               </tr>
            @foreach (var item in Model)
            { 
                <tr>

                    <td class="act_code_td">@Html.ValueFor(modelItem => item.ActivityCodeName)</td>
                    <td class="act_code_desc_td">@Html.ValueFor(modelItem => item.ActivityDesc)</td>
                    <td class="fsfe_charge">@Html.ValueFor(modelItem => item.FSFE_Charge)</td>
                    <td class="cf_charge">@Html.ValueFor(modelItem => item.CF_Charge)</td>
                    <td class="af_charge">@Html.ValueFor(modelItem => item.AF_Charge)</td>
                </tr> 
            }

       </table>
       
    </div>
    <div id="addact_Airflow_rightdiv">
        <table class="table_airflow">
            <tr id="table_airflow_header"><th>No.</th><th>Timestamp</th><th>Air Flow</th></tr>
        </table>

    </div>
    <div id="addact_addbtn_div"><input id="addact_btn" type="button"  value="Add Activity"/>&nbsp;&nbsp;&nbsp;<input id="addact_close" type="button"  value="Close"/></div>
    <div id="addact_footerdiv">
     
    </div>
</div>
</div>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#end_date_input").datepicker({
                showOn: 'button',
                buttonText: 'Show Date',
                buttonImageOnly: true,
                buttonImage: serverpath + '/Images/calendar.png',
                dateFormat: 'mm/dd/yy',
                constrainInput: true
            });
			
            $(".ui-datepicker-trigger").mouseover(function() {
                $(this).css('cursor', 'pointer');
                
            });
            
        });
            

    </script>