
@model IEnumerable<PASAROperations.Models.AF_ActivityCode>

<div id="add_afblister_div">
<b>Pre-Casting Form</b>
<br />
<br />
      <h6 style="float:right;"></h6>
      <div id="addactpc_rightdiv">
        <h6>Select Activity</h6>
       <table id="act_code_table">
               <tr id="act_code_table_header">
                   <th><i>Code</i></th>
                   <th><i>Description</i></th>
               </tr>
            @foreach (var item in Model)
            { 
                <tr>
                    <td class="act_code_td">@Html.ValueFor(modelItem => item.AF_ActivityCodeName)</td>
                    <td class="act_code_desc_td_cast">@Html.ValueFor(modelItem => item.AF_ActivityDesc)</td>
                    
                </tr> 
            }
       </table>
       
    </div>

    <table class="af_time_table">
            <tr><td rowspan="2" class="label_datetype">Start Time : &nbsp;</td>
                <td class="label_date">Date</td><td class="label_date">Time (hh:mm)</td>
            </tr>
              
            <tr>
                <td class="af_date_td"><input @*disabled="disabled"*@id="start_date_input_pc" class="start_date_input_" type="text" value="@ViewBag.LotStartTime.ToString("MM/dd/yyyy")"/></td>
                <td class="af_time_td">
            <select id="start_time_hr_input" @*disabled="disabled"*@>
            @{
                 int hr;
                 int min_ = Int32.Parse(ViewBag.LotStartTime.ToString("mm"));
                if (min_ == 60){

                    hr = Int32.Parse(ViewBag.LotStartTime.ToString("HH"));
                    
                }else{
                    hr = Int32.Parse(ViewBag.LotStartTime.ToString("HH"));
                }
                
                
                for (int x = 0; x <= 23; x++ )
                { 
                if (@x <= 9){

                    if (@x == @hr)
                    {  <option value="@x" selected="selected">@("0" + @x)</option> }
                    else { <option value="@x">@("0" + @x)</option> }          
                }
                      
                      
                      else{

                     if (@x == @hr)
                          {  <option value="@x" selected="selected">@x</option> }
                    else { <option value="@x">@x</option> }          
                

                      }
                }
                }
                                                          
            </select>&nbsp;:
            <select id="start_time_min_input" @*disabled="disabled"*@>
              @{
                  int min = Int32.Parse(ViewBag.LotStartTime.ToString("mm"));
                
                
                for (int x = 0; x <= 59; x++ )
                { 
                if (@x <= 9){

                    if (@x == @min)
                    {  <option value="@x" selected="selected">@("0" + @x)</option> }
                    else { <option value="@x">@("0" + @x)</option> }          
                }
                      
                      
                      else{

                          if (@x == @min)
                          {  <option value="@x" selected="selected">@x</option> }
                    else { <option value="@x">@x</option> }          
                

                      }
                }
                }                                               
            </select>

</td></tr>
       </table>

    <table id="end_time_table">
            <tr><td rowspan="2" class="label_datetype">End Time : &nbsp;&nbsp;</td>
               
            </tr>
              
            <tr>
                <td class="af_date_td"><input id="end_date_input_pc" class="end_date_input_" type="text"  value="@ViewBag.LotStartTime.ToString("MM/dd/yyyy")"/></td>


                <td class="af_time_td">
            <select id="end_time_hr_input">
            @{
               
  
                if (min_ == 60){

                    hr = Int32.Parse(ViewBag.LotStartTime.ToString("HH"));
                    
                }else{
                    hr = Int32.Parse(ViewBag.LotStartTime.ToString("HH"));
                }
                
                
                for (int x = 0; x <= 23; x++ )
                { 
                if (@x <= 9){

                    if (@x == @hr)
                    {  <option value="@x" selected="selected">@("0" + @x)</option> }
                    else { <option value="@x">@("0" + @x)</option> }          
                }
                      
                      
                      else{

                     if (@x == @hr)
                          {  <option value="@x" selected="selected">@x</option> }
                    else { <option value="@x">@x</option> }          
                

                      }
                }
                }
                                                          
            </select>&nbsp;:
            <select id="end_time_min_input">
              @{
                  int mine_ = Int32.Parse(ViewBag.LotStartTime.ToString("mm")) + 1;
                
                for (int x = 0; x <= 59; x++ )
                { 
                if (@x <= 9){

                    if (@x == @mine_)
                    {  <option value="@x" selected="selected">@("0" + @x)</option> }
                    else { <option value="@x">@("0" + @x)</option> }          
                }
                      
                      
                      else{

                          if (@x == @mine_)
                          {  <option value="@x" selected="selected">@x</option> }
                    else { <option value="@x">@x</option> }          
                

                      }
                }
                }                                               
            </select>

</td></tr>
       </table>

<br />
<div class="add_pc_actcode_id hidden_div"></div>
<div>Activity Code:<br><input  class="act_add_code_input" id="pc_actcode" type="text" maxlength="3"/></div> <br>
Activity Description:
<br/>
<br/>
<d id="Act_Desc_div">-</d>
<br/>
<br/>
<d>Duration:
    <br>
    <br>
    <d id="the_dur" /></d>
    <br />
    <br />
<div>Remarks: <textarea class="border_color" id="pc_remarks"   /></div>
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <input id="add_precast_ok_btn" type="button" value="Add Activity" />
     <br />
     <br />
    <span id="error_msg_time_pc"></span>
    <span id="error_code"></span>
     <br />
     <br />
     
</div>

<script type="text/javascript">

    $(document).ready(function () {

            validation_perbtn_precast();

            $("#Dialog_AddPreCast #end_date_input_pc").datepicker({
                showOn: 'button',
                buttonText: 'Show Date',
                buttonImageOnly: true,
                buttonImage: serverpath + '/Images/calendar.png',
                dateFormat: 'mm/dd/yy',
                constrainInput: true
            });

            $(".ui-datepicker-trigger").mouseover(function () {
                $(this).css('cursor', 'pointer');

            });

            $("#Dialog_AddPreCast #start_date_input_pc").datepicker({
                showOn: 'button',
                buttonText: 'Show Date',
                buttonImageOnly: true,
                buttonImage: serverpath + '/Images/calendar.png',
                dateFormat: 'mm/dd/yy',
                constrainInput: true
            });

            $(".ui-datepicker-trigger").mouseover(function () {
                $(this).css('cursor', 'pointer');

            });
           
    });

 



    </script>