<div id="add_spotap_div">
<b>Edit SPO Tapper</b>
<br />
<br />


<div class="spotap_matteslag_main_div">
<div class="spotap_matteslag_main_leftdiv">
<div class="validation_flag"></div>
<div id="spotapping_id">@ViewBag.FSFEMatteSlagId</div>
<div>
    <table id="start_time_table">
            <tr><td rowspan="2" class="label_datetype">Start Time : &nbsp;</td>
                <td class="label_date">Date</td><td class="label_date">Time (hh:mm)</td>
            </tr><tr>
                <td id="start_date_addact_mtap"><input id="start_date_input_mtapedit" type="text"  value="@ViewBag.MatteSlagDate.ToString("MM/dd/yyyy")"/></td>
                <td id="start_time_addact_mtap">
                    <select id="start_time_hr_input_mtapedit">
                        @{
                            int hr = Int32.Parse(ViewBag.MatteSlagDate.ToString("HH"));
                
                            for (int x = 0; x <= 23; x++ )
                            { 
                            if (@x <= 9){

                                if (@x == @hr)
                                     { <option value="@x" selected="selected">@("0" + @x)</option> }
                                else { <option value="@x">@("0" + @x)</option> }          
                                }
                                else{
                                if (@x == @hr)
                                      {  <option value="@x" selected="selected">@x</option> }
                                else  {  <option value="@x">@x</option> }                        
                                  }}}                               
                    </select>&nbsp;:
                    <select id="start_time_min_input_mtapedit">
                          @{
                              int min = Int32.Parse(ViewBag.MatteSlagDate.ToString("mm"));
                
                
                            for (int x = 0; x <= 59; x++ )
                            { 
                            if (@x <= 9){

                                if (@x == @min)
                                {  <option value="@x" selected="selected">@("0" + @x)</option> }
                                else { <option value="@x">@("0" + @x)</option> }          
                            }
                                else {
                                if (@x == @min)
                                {  <option value="@x" selected="selected">@x</option> }
                                else  { <option value="@x">@x</option> }  
                                  
                            }}}                                               
            </select>
</td></tr></table>
    

</div>
 <div class="spotap_matteslag">
    <div class="spotap_matteslag_leftdiv">
        <b>Matte</b>
        <div>H1:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="edit_spotap_h1_input" class="spotap_input" type ="text" value="@ViewBag.H1" ></div>
        <div>H2:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="edit_spotap_h2_input" class="spotap_input" type ="text" value="@ViewBag.H2" ></div>
        <br />
        <div>Scum Level:&nbsp;&nbsp;&nbsp;&nbsp;<input id="edit_scumlvl_input" class="spotap_input" type ="text" value="@ViewBag.Scumlvl"></div>
        <br />
        <div>Matte Level: <span id="spotap_mattelvl_input" class="spotap_commute">@ViewBag.Mattelvl</span></div>
    </div>

     <div class="spotap_matteslag_rightdiv">
     <b>Slag</b>
         <br />
         <br />
         <div>Slag Level: <span id="spotap_slaglvl_input" class="spotap_commute">@ViewBag.Slaglvl</span></div>
         <br />
         <div>Slag Temp:&nbsp;&nbsp;&nbsp;<input id="edit_slagtemp_input" class="spotap_input" type ="text" value="@ViewBag.Temperature"></div>

         <br />
         <div class="validation_msg_div">
             <span class="validation_msg_spotap">

             </span></div>
     </div>

</div>
</div>

   <div class="spotap_matteslag_main_rightdiv">
          <br />   <br />   
       
       <u>Parameter Limits</u>

       <br />
              <br />
       <table class="spotap_table_limits">
           <thead>
               <tr><th>Parameter</th>
                   <th>Min</th>
                   <th>Max</th>
               </tr>
           </thead>
           <tbody>
                <tr>
                   <td class="td_param">Slag Level</td>
                   <td>20</td>
                   <td>80</td>
               </tr><tr>
                   <td class="td_param">Matte Level</td>
                   <td>50</td>
                   <td>100</td>
               </tr><tr>
                   <td class="td_param">Scum Level</td>
                   <td>2</td>
                   <td>30</td>
               </tr><tr>
                   <td class="td_param">Slag Temp</td>
                   <td>1100</td>
                   <td>1400</td>
               </tr>
           </tbody>

       </table>


   </div>
</div>
   
    <div class="spotap_btn">
         <br />
         <br />
         <br />
        Comments:
        <textarea id="edit_txtarea_spotap" rows="4">@ViewBag.SPO_Comment</textarea>
    </div>

     
<div class="spotap_btn">
  <br />
  <br /> 
    <input id="edit_spotap_ok_btn" type="button" value="Edit" />&nbsp;<input id="edit_spotap_close_btn" type="button" value="Close" />

</div>
    

   

</div>
 <script type="text/javascript">
        $(document).ready(function () {

            $("#start_date_input_mtapedit").datepicker({
                showOn: 'button',
                buttonText: 'Show Date',
                buttonImageOnly: true,
                buttonImage: serverpath + '/Images/calendar.png',
                dateFormat: 'mm/dd/yy',
                constrainInput: true
            });

            $(".ui-datepicker-trigger").mouseover(function() {
                $(this).css('cursor', 'pointer');
                
            });
            
        });
            

    </script>