<div id="add_mtapping_div">
<b>Matte Tapping</b>
<br />
<br />
    <div id="mtapping_id">@ViewBag.MtappingId</div>
<div>
    <tr>
        <td rowspan="2" class="">Called date and time : <input id="called_date" type="text"
            value="@ViewBag.TappingCalledDate_Edit.ToString("MM/dd/yyyy")"/></td>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <td id="called_date_id">
                <select id="start_time_calledhr_input">
                        @{
                            int calledhr = Int32.Parse(ViewBag.TappingCalledDate_Edit.ToString("HH"));

                            for (int x = 0; x <= 23; x++)
                            {
                                if (@x <= 9)
                                {

                                    if (@x == @calledhr)
                                    { <option value="@x" selected="selected">@("0" + @x)</option> }
                                    else
                                    { <option value="@x">@("0" + @x)</option> }
                                }
                                else
                                {
                                    if (@x == @calledhr)
                                    {  <option value="@x" selected="selected">@x</option> }
                                    else
                                    {  <option value="@x">@x</option> }
                                }
                            }}
                    </select>&nbsp;:
                    <select id="start_time_calledmin_input">
                        @{
                            int calledmin = Int32.Parse(ViewBag.TappingCalledDate_Edit.ToString("mm"));


                            for (int x = 0; x <= 59; x++)
                            {
                                if (@x <= 9)
                                {

                                    if (@x == @calledmin)
                                    {  <option value="@x" selected="selected">@("0" + @x)</option> }
                                    else
                                    { <option value="@x">@("0" + @x)</option> }
                                }
                                else
                                {
                                    if (@x == @calledmin)
                                    {  <option value="@x" selected="selected">@x</option> }
                                    else
                                    { <option value="@x">@x</option> }

                                }
                            }}
                    </select>

            </td>
    </tr>
    <table id="start_time_table">
            <tr><td rowspan="2" class="label_datetype">Start Time : &nbsp;</td>
                <td class="label_date">Date</td><td class="label_date">Time (hh:mm)</td>
            </tr>
              
            <tr>
                <td id="start_date_addact_mtap"><input id="start_date_input_mtapedit" type="text"  value="@ViewBag.TappingStartDate_Edit.ToString("MM/dd/yyyy")"/></td>
                <td id="start_time_addact_mtap">
                    <select id="start_time_hr_input_mtapedit">
                        @{
                            int hr = Int32.Parse(ViewBag.TappingStartDate_Edit.ToString("HH"));
                
                            for (int x = 0; x <= 23; x++ )
                            { 
                            if (@x <= 9){

                                if (@x == @hr)
                                     { <option value="@x" selected="selected">@("0" + @x)</option> }
                                else { <option value="@x">@("0" + @x)</option> }          
                                }
                                else{
                                if (@x == @hr)
                                      {  <option value="@x" selected="selected">@x</option> }
                                else  {  <option value="@x">@x</option> }                        
                                  }}}                               
                    </select>&nbsp;:
                    <select id="start_time_min_input_mtapedit">
                          @{
                              int min = Int32.Parse(ViewBag.TappingStartDate_Edit.ToString("mm"));
                
                
                            for (int x = 0; x <= 59; x++ )
                            { 
                            if (@x <= 9){

                                if (@x == @min)
                                {  <option value="@x" selected="selected">@("0" + @x)</option> }
                                else { <option value="@x">@("0" + @x)</option> }          
                            }
                                else {
                                if (@x == @min)
                                {  <option value="@x" selected="selected">@x</option> }
                                else  { <option value="@x">@x</option> }  
                                  
                            }}}                                               
            </select>
</td></tr></table>

    <table id="end_time_table">
            <tr><td rowspan="2" class="label_datetype">End Time : &nbsp;</td>
                <td class="label_date">Date</td><td class="label_date">Time (hh:mm)</td>
            </tr>
              
            <tr>
                <td id="end_date_addact"><input id="end_date_input_mtapedit" type="text"  value="@ViewBag.TappingEndDate_Edit.ToString("MM/dd/yyyy")"/></td>
                <td id="end_time_addact">
                    <select id="end_time_hr_input_mtapedit">
                        @{
                            int hr_e = Int32.Parse(ViewBag.TappingEndDate_Edit.ToString("HH"));
                
                            for (int x = 0; x <= 23; x++ )
                            { 
                            if (@x <= 9){

                                if (@x == @hr_e)
                                {  <option value="@x" selected="selected">@("0" + @x)</option> }
                                else { <option value="@x">@("0" + @x)</option> }          
                            }
                             else{

                                 if (@x == @hr_e)
                                      {  <option value="@x" selected="selected">@x</option> }
                                else { <option value="@x">@x</option> }    
                                                          
                                  }}}                               
                    </select>&nbsp;:
                    <select id="end_time_min_input_mtapedit">
                          @{
                              int min_e = Int32.Parse(ViewBag.TappingEndDate_Edit.ToString("mm"));
                
                
                            for (int x = 0; x <= 59; x++ )
                            { 
                            if (@x <= 9){

                                if (@x == @min_e)
                                {  <option value="@x" selected="selected">@("0" + @x)</option> }
                                else { <option value="@x">@("0" + @x)</option> }          
                            }
                                else {
                                    if (@x == @min_e)
                                {  <option value="@x" selected="selected">@x</option> }
                                else  { <option value="@x">@x</option> }  
                                  
                            }}}                                               
            </select>
</td></tr></table>
</div>
    
    <div>
        Matte Temperature :<input id="add_mattetemp" type="text" value="@ViewBag.MatteTemp"/>
        <b>°C</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         Matte Volume : 
        <input id="add_mattevolume" type="text" value="@ViewBag.MatteVol"/>
    </div>
    <br />
    <div>
       
            
        <br />

<div>
     Slag Blow  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;@*<input id="add_launder2" type ="text" >
    </div>*@
    <select style="width: 100px" id="add_slagblow" value="@ViewBag.MatteSlagBlow">
        <option value="0">Select</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>

    </select>
    
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        CF No.  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
    <select style="width: 100px" id="add_cfno" value="@ViewBag.MatteCFNo">
        <option>Select</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>

    <br /><br /> <br />
     Launder No.  : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="add_launder1" type ="text" value="@ViewBag.Launder1" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   Matte Tapper : &nbsp;&nbsp;&nbsp;<span id="mttaper1_emp">@ViewBag.Mtapper1</span><br /><br />
    <span style="display:none;" id="mttaper1_empid"></span>
    Launder No. :  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="add_launder2" type="text" value="@ViewBag.Launder2">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Matte Tapper : &nbsp;&nbsp;&nbsp;<span id="mttaper2_emp">@ViewBag.Mtapper2</span>
    <span style="display:none;" id="mttaper2_empid"></span>
</div>


<div>
    <br />
  <br />
    <input id="edit_mtapping_ok_btn" type="button" value="Edit" />&nbsp;@*<input id="edit_mtapping_close_btn" type="button" value="Cancel" />*@

</div>
</div>
 <script type="text/javascript">
     $(document).ready(function () {

         $("#add_slagblow").val("@ViewBag.MatteSlagBlow");
         $("#add_cfno").val("@ViewBag.MatteCFNo");

         load_assign_launder("#DialogMatteTappingEdit_Select");

         $("#called_date").datepicker({
             showOn: 'button',
             buttonText: 'Show Date',
             buttonImageOnly: true,
             buttonImage: serverpath + '/Images/calendar.png',
             dateFormat: 'mm/dd/yy',
             constrainInput: true
         });

         $("#end_date_input_mtapedit").datepicker({
             showOn: 'button',
             buttonText: 'Show Date',
             buttonImageOnly: true,
             buttonImage: serverpath + '/Images/calendar.png',
             dateFormat: 'mm/dd/yy',
             constrainInput: true
         });

         $("#start_date_input_mtapedit").datepicker({
             showOn: 'button',
             buttonText: 'Show Date',
             buttonImageOnly: true,
             buttonImage: serverpath + '/Images/calendar.png',
             dateFormat: 'mm/dd/yy',
             constrainInput: true
         });

         $(".ui-datepicker-trigger").mouseover(function () {
             $(this).css('cursor', 'pointer');

         });

     });


    </script>